nav ul li a:active{
  color:yellow;
}
#grids{
width: 70%;
margin: 0 25%;
}
#vehiculos{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
#Motos{
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
}
#cajafooter{
  
  margin-top: 3%;
  
}
#cajita{
  margin: 0 25% 0 25%;
  
}